Sources/SymbolSource.Server.Management.Client/Service References/WebService/WebService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://api.symbolsource.org/schemas/webServices" elementFormDefault="qualified" targetNamespace="http://api.symbolsource.org/schemas/webServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51789/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" />
  <xs:import schemaLocation="http://localhost:51789/WebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:51789/WebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Model.Statistics" />
  <xs:element name="DigestGenerateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="realm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DigestGenerateRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DigestGenerateRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DigestValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="method" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DigestValidateResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="DigestValidateResponseResult" nillable="true" type="q1:Caller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageFileLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q2:Caller" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="imageFile" nillable="true" type="q3:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageFileLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImageFileLinkResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="imageFile" nillable="true" type="q4:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceFileLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q5:Caller" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="sourceFile" nillable="true" type="q6:SourceFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceFileLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSourceFileLinkResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="sourceFile" nillable="true" type="q7:SourceFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbolFileLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q8:Caller" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="imageFile" nillable="true" type="q9:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbolFileLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSymbolFileLinkResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="imageFile" nillable="true" type="q10:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentationLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q11:Caller" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="imageFile" nillable="true" type="q12:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentationLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentationLinkResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="imageFile" nillable="true" type="q13:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q14:Caller" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q15:Version" />
        <xs:element minOccurs="0" name="contentType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPackageLinkResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q16:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q17:Caller" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="symbolHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetImageFileResult" nillable="true" type="q18:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogImageFileFound">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q19:Caller" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="imageFile" nillable="true" type="q20:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogImageFileFoundResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogImageFileNotFound">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q21:Caller" />
        <xs:element minOccurs="0" name="imageFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="symbolHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogImageFileNotFoundResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogSourceFileFound">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q22:Caller" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="sourceFile" nillable="true" type="q23:SourceFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogSourceFileFoundResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q24:Caller" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q25:Repository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetProjectsResult" nillable="true" type="q26:ArrayOfProject" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q27:Repository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q28:Caller" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="project" nillable="true" type="q29:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="project" nillable="true" type="q30:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q31:Caller" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="project" nillable="true" type="q32:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="project" nillable="true" type="q33:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q34:Caller" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="project" nillable="true" type="q35:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="project" nillable="true" type="q36:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q37:Caller" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="project" nillable="true" type="q38:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q39:Caller" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="project" nillable="true" type="q40:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetVersionsResult" nillable="true" type="q41:ArrayOfVersion" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="project" nillable="true" type="q42:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q43:Caller" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q44:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q45:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q46:Caller" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q47:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q48:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q49:Caller" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q50:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q51:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q52:Caller" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q53:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVersionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVersionHidden">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q54:Caller" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q55:Version" />
        <xs:element minOccurs="0" name="hidden" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVersionHiddenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="SetVersionHiddenResult" nillable="true" type="q56:Version" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q57:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionLastList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q58:Caller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionLastListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetVersionLastListResult" nillable="true" type="q59:ArrayOfVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q60:Caller" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q61:Repository" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="filter" nillable="true" type="q62:PackageFilter" />
        <xs:element minOccurs="0" name="packageFormat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetPackagesResult" nillable="true" type="q63:ArrayOfVersion" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q64:Repository" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="filter" nillable="true" type="q65:PackageFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompilationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q66:Caller" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q67:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompilationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetCompilationListResult" nillable="true" type="q68:ArrayOfCompilation" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q69:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageFileList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q70:Caller" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="compilation" nillable="true" type="q71:Compilation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageFileListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetImageFileListResult" nillable="true" type="q72:ArrayOfImageFile" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="compilation" nillable="true" type="q73:Compilation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceFileList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q74:Caller" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="imageFile" nillable="true" type="q75:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourceFileListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetSourceFileListResult" nillable="true" type="q76:ArrayOfSourceFile" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="imageFile" nillable="true" type="q77:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepedencyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q78:Caller" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="imageFile" nillable="true" type="q79:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepedencyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetDepedencyListResult" nillable="true" type="q80:ArrayOfDepedency" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="imageFile" nillable="true" type="q81:ImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageFileListByReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q82:Caller" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="reference" nillable="true" type="q83:Reference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageFileListByReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetImageFileListByReferenceResult" nillable="true" type="q84:ArrayOfImageFile" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="reference" nillable="true" type="q85:Reference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeImageFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q86:Caller" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="nodeImageFile" nillable="true" type="q87:NodeImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeImageFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetNodeImageFilesResult" nillable="true" type="q88:ArrayOfNodeImageFile" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="nodeImageFile" nillable="true" type="q89:NodeImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q90:Caller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetCompaniesResult" nillable="true" type="q91:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q92:Caller" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="company" nillable="true" type="q93:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompany2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q94:Caller" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q95:User" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="key" nillable="true" type="q96:UserKey" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="plan" nillable="true" type="q97:Plan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompany2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q98:Caller" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="company" nillable="true" type="q99:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q100:Caller" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="company" nillable="true" type="q101:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q102:Caller" />
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="company" nillable="true" type="q103:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetUsersResult" nillable="true" type="q104:ArrayOfUser" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="company" nillable="true" type="q105:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q106:Caller" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q107:User" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="key" nillable="true" type="q108:UserKey" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="plan" nillable="true" type="q109:Plan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q110:Caller" />
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q111:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q112:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q113:Caller" />
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q114:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q115:Caller" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="company" nillable="true" type="q116:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetRepositoriesResult" nillable="true" type="q117:ArrayOfRepository" />
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="company" nillable="true" type="q118:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateRepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q119:Caller" />
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q120:Repository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateRepositoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q121:Repository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q122:Caller" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q123:Repository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRepositoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q124:Repository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q125:Caller" />
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q126:Repository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRepositoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q127:Repository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q128:Caller" />
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q129:Repository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRepositoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlansByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlansByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetPlansByTypeResult" nillable="true" type="q130:ArrayOfPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monthPrice" type="xs:decimal" />
        <xs:element minOccurs="0" name="yearPrice" type="xs:decimal" />
        <xs:element minOccurs="0" name="userLimit" type="xs:int" />
        <xs:element minOccurs="0" name="privateRepoLimit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUploadReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q131:Caller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUploadReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetUploadReportsResult" nillable="true" type="q132:ArrayOfUploadReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q133:Caller" />
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="package" nillable="true" type="q134:PackageProject" />
        <xs:element minOccurs="0" name="packageFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="packageData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="symbolPackageData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="UploadPackageResult" nillable="true" type="q135:UploadReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q136:Caller" />
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q137:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetUserPermissionsResult" nillable="true" type="q138:Permissions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q139:Caller" />
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="company" nillable="true" type="q140:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetCompanyPermissionsResult" nillable="true" type="q141:ArrayOfCompanyPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositoryPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q142:Caller" />
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q143:Repository" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRepositoryPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetRepositoryPermissionsResult" nillable="true" type="q144:ArrayOfRepositoryPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q145:Caller" />
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="project" nillable="true" type="q146:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetProjectPermissionsResult" nillable="true" type="q147:ArrayOfProjectPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q148:Caller" />
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q149:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetVersionPermissionsResult" nillable="true" type="q150:ArrayOfVersionPermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCompanyPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q151:Caller" />
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q152:User" />
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="company" nillable="true" type="q153:Company" />
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="permission" nillable="true" type="q154:Permission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCompanyPermissionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRepositoryPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q155:Caller" />
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q156:User" />
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="repository" nillable="true" type="q157:Repository" />
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="permission" nillable="true" type="q158:Permission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRepositoryPermissionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProjectPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q159:Caller" />
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q160:User" />
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="project" nillable="true" type="q161:Project" />
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="permission" nillable="true" type="q162:Permission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProjectPermissionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVersionPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q163:Caller" />
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q164:User" />
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="version" nillable="true" type="q165:Version" />
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="permission" nillable="true" type="q166:Permission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVersionPermissionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserValidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q167:Caller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="UserValidateResult" nillable="true" type="q168:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="CreateUserByKeyResult" nillable="true" type="q169:Caller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="company" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetUserByKeyResult" nillable="true" type="q170:Caller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPasswordMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q171:Caller" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPasswordMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q172:Caller" />
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="userKey" nillable="true" type="q173:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserKeys">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q174:Caller" />
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q175:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserKeysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="GetUserKeysResult" nillable="true" type="q176:ArrayOfUserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q177:Caller" />
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q178:User" />
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="userKey" nillable="true" type="q179:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserKeyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q180:Caller" />
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q181:User" />
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="userKey" nillable="true" type="q182:UserKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserKeyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVisualStudioLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q183:Caller" />
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="user" nillable="true" type="q184:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVisualStudioLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserVisualStudioLinkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableStatisticNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q185:Caller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableStatisticNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAvailableStatisticNamesResult" nillable="true" type="q186:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatistic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" minOccurs="0" name="caller" nillable="true" type="q187:Caller" />
        <xs:element xmlns:q188="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="names" nillable="true" type="q188:ArrayOfstring" />
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Model.Statistics" minOccurs="0" name="period" type="q189:StatisticPeriod" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatisticResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Model.Statistics" minOccurs="0" name="GetStatisticResult" nillable="true" type="q190:ArrayOfStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>