Sources/SymbolSource.Server.Management.Client/Service References/WebService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://api.symbolsource.org/schemas/webServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.symbolsource.org/schemas/webServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://api.symbolsource.org/schemas/webServices/Imports">
      <xsd:import schemaLocation="http://localhost:51789/WebService.svc?xsd=xsd0" namespace="http://api.symbolsource.org/schemas/webServices" />
      <xsd:import schemaLocation="http://localhost:51789/WebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51789/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Management" />
      <xsd:import schemaLocation="http://localhost:51789/WebService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51789/WebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SymbolSource.Server.Model.Statistics" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebService_AddUserKey_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserKey" />
  </wsdl:message>
  <wsdl:message name="IWebService_AddUserKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_RemoveUserKey_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserKey" />
  </wsdl:message>
  <wsdl:message name="IWebService_RemoveUserKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUserVisualStudioLink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserVisualStudioLink" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUserVisualStudioLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserVisualStudioLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetAvailableStatisticNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableStatisticNames" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetAvailableStatisticNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableStatisticNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetStatistic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatistic" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetStatistic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_PaymentPrepare_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentPrepare" />
  </wsdl:message>
  <wsdl:message name="IWebService_PaymentPrepare_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentPrepareResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_PaymentDoAction_InputMessage">
    <wsdl:part name="parameters" element="tns:PaymentDoAction" />
  </wsdl:message>
  <wsdl:message name="IWebService_PaymentDoAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaymentDoActionResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_DigestGenerateRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DigestGenerateRequest" />
  </wsdl:message>
  <wsdl:message name="IWebService_DigestGenerateRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DigestGenerateRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_DigestValidateResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:DigestValidateResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_DigestValidateResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:DigestValidateResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetImageFileLink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFileLink" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetImageFileLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFileLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetSourceFileLink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceFileLink" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetSourceFileLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceFileLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetSymbolFileLink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSymbolFileLink" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetSymbolFileLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSymbolFileLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDocumentationLink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentationLink" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDocumentationLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentationLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetPackageLink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPackageLink" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetPackageLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPackageLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetImageFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFile" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetImageFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFileResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_LogImageFileFound_InputMessage">
    <wsdl:part name="parameters" element="tns:LogImageFileFound" />
  </wsdl:message>
  <wsdl:message name="IWebService_LogImageFileFound_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogImageFileFoundResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_LogImageFileNotFound_InputMessage">
    <wsdl:part name="parameters" element="tns:LogImageFileNotFound" />
  </wsdl:message>
  <wsdl:message name="IWebService_LogImageFileNotFound_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogImageFileNotFoundResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_LogSourceFileFound_InputMessage">
    <wsdl:part name="parameters" element="tns:LogSourceFileFound" />
  </wsdl:message>
  <wsdl:message name="IWebService_LogSourceFileFound_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogSourceFileFoundResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjects" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateOrUpdateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateProject" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateOrUpdateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProject" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProject" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_DeleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="IWebService_DeleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetVersions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersions" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetVersions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateOrUpdateVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateVersion" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateOrUpdateVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateVersion" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVersion" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_DeleteVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVersion" />
  </wsdl:message>
  <wsdl:message name="IWebService_DeleteVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_SetVersionHidden_InputMessage">
    <wsdl:part name="parameters" element="tns:SetVersionHidden" />
  </wsdl:message>
  <wsdl:message name="IWebService_SetVersionHidden_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetVersionHiddenResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetVersionLastList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionLastList" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetVersionLastList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionLastListResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetPackages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPackages" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetPackages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPackagesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCompilationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompilationList" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCompilationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompilationListResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetImageFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFileList" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetImageFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetSourceFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceFileList" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetSourceFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourceFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDepedencyList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepedencyList" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetDepedencyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepedencyListResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetImageFileListByReference_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFileListByReference" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetImageFileListByReference_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageFileListByReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetNodeImageFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeImageFiles" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetNodeImageFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeImageFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanies" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompany" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateCompany2_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompany2" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateCompany2_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompany2Response" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompany" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_DeleteCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompany" />
  </wsdl:message>
  <wsdl:message name="IWebService_DeleteCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IWebService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetRepositories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositories" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetRepositories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateOrUpdateRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateRepository" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateOrUpdateRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRepository" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRepository" />
  </wsdl:message>
  <wsdl:message name="IWebService_UpdateRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_DeleteRepository_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRepository" />
  </wsdl:message>
  <wsdl:message name="IWebService_DeleteRepository_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRepositoryResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetPlansByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlansByType" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetPlansByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlansByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_RemovePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePlan" />
  </wsdl:message>
  <wsdl:message name="IWebService_RemovePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreatePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlan" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreatePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlanResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUploadReports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUploadReports" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUploadReports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUploadReportsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_UploadPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadPackage" />
  </wsdl:message>
  <wsdl:message name="IWebService_UploadPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadPackageResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUserPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPermissions" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUserPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCompanyPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyPermissions" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetCompanyPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetRepositoryPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoryPermissions" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetRepositoryPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoryPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetProjectPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectPermissions" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetProjectPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetVersionPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionPermissions" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetVersionPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_SetCompanyPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCompanyPermissions" />
  </wsdl:message>
  <wsdl:message name="IWebService_SetCompanyPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCompanyPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_SetRepositoryPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRepositoryPermissions" />
  </wsdl:message>
  <wsdl:message name="IWebService_SetRepositoryPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRepositoryPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_SetProjectPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProjectPermissions" />
  </wsdl:message>
  <wsdl:message name="IWebService_SetProjectPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetProjectPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_SetVersionPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:SetVersionPermissions" />
  </wsdl:message>
  <wsdl:message name="IWebService_SetVersionPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetVersionPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_UserValidate_InputMessage">
    <wsdl:part name="parameters" element="tns:UserValidate" />
  </wsdl:message>
  <wsdl:message name="IWebService_UserValidate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserValidateResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateUserByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserByKey" />
  </wsdl:message>
  <wsdl:message name="IWebService_CreateUserByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUserByKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByKey" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUserByKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_SendPasswordMail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordMail" />
  </wsdl:message>
  <wsdl:message name="IWebService_SendPasswordMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordMailResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IWebService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUserKeys_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserKeys" />
  </wsdl:message>
  <wsdl:message name="IWebService_GetUserKeys_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserKeysResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebService">
    <wsdl:operation name="AddUserKey">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/AddUserKey" message="tns:IWebService_AddUserKey_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/AddUserKeyResponse" message="tns:IWebService_AddUserKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserKey">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/RemoveUserKey" message="tns:IWebService_RemoveUserKey_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/RemoveUserKeyResponse" message="tns:IWebService_RemoveUserKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserVisualStudioLink">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetUserVisualStudioLink" message="tns:IWebService_GetUserVisualStudioLink_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetUserVisualStudioLinkResponse" message="tns:IWebService_GetUserVisualStudioLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableStatisticNames">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetAvailableStatisticNames" message="tns:IWebService_GetAvailableStatisticNames_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetAvailableStatisticNamesResponse" message="tns:IWebService_GetAvailableStatisticNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatistic">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetStatistic" message="tns:IWebService_GetStatistic_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetStatisticResponse" message="tns:IWebService_GetStatistic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentPrepare">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/PaymentPrepare" message="tns:IWebService_PaymentPrepare_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/PaymentPrepareResponse" message="tns:IWebService_PaymentPrepare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentDoAction">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/PaymentDoAction" message="tns:IWebService_PaymentDoAction_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/PaymentDoActionResponse" message="tns:IWebService_PaymentDoAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DigestGenerateRequest">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DigestGenerateRequest" message="tns:IWebService_DigestGenerateRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DigestGenerateRequestResponse" message="tns:IWebService_DigestGenerateRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DigestValidateResponse">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DigestValidateResponse" message="tns:IWebService_DigestValidateResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DigestValidateResponseResponse" message="tns:IWebService_DigestValidateResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageFileLink">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetImageFileLink" message="tns:IWebService_GetImageFileLink_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetImageFileLinkResponse" message="tns:IWebService_GetImageFileLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSourceFileLink">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetSourceFileLink" message="tns:IWebService_GetSourceFileLink_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetSourceFileLinkResponse" message="tns:IWebService_GetSourceFileLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSymbolFileLink">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetSymbolFileLink" message="tns:IWebService_GetSymbolFileLink_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetSymbolFileLinkResponse" message="tns:IWebService_GetSymbolFileLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentationLink">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetDocumentationLink" message="tns:IWebService_GetDocumentationLink_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetDocumentationLinkResponse" message="tns:IWebService_GetDocumentationLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPackageLink">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetPackageLink" message="tns:IWebService_GetPackageLink_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetPackageLinkResponse" message="tns:IWebService_GetPackageLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageFile">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetImageFile" message="tns:IWebService_GetImageFile_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetImageFileResponse" message="tns:IWebService_GetImageFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogImageFileFound">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/LogImageFileFound" message="tns:IWebService_LogImageFileFound_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/LogImageFileFoundResponse" message="tns:IWebService_LogImageFileFound_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogImageFileNotFound">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/LogImageFileNotFound" message="tns:IWebService_LogImageFileNotFound_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/LogImageFileNotFoundResponse" message="tns:IWebService_LogImageFileNotFound_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogSourceFileFound">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/LogSourceFileFound" message="tns:IWebService_LogSourceFileFound_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/LogSourceFileFoundResponse" message="tns:IWebService_LogSourceFileFound_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjects">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetProjects" message="tns:IWebService_GetProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetProjectsResponse" message="tns:IWebService_GetProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateProject">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateOrUpdateProject" message="tns:IWebService_CreateOrUpdateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateOrUpdateProjectResponse" message="tns:IWebService_CreateOrUpdateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProject">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateProject" message="tns:IWebService_CreateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateProjectResponse" message="tns:IWebService_CreateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UpdateProject" message="tns:IWebService_UpdateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UpdateProjectResponse" message="tns:IWebService_UpdateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DeleteProject" message="tns:IWebService_DeleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DeleteProjectResponse" message="tns:IWebService_DeleteProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersions">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetVersions" message="tns:IWebService_GetVersions_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetVersionsResponse" message="tns:IWebService_GetVersions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateVersion">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateOrUpdateVersion" message="tns:IWebService_CreateOrUpdateVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateOrUpdateVersionResponse" message="tns:IWebService_CreateOrUpdateVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateVersion">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateVersion" message="tns:IWebService_CreateVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateVersionResponse" message="tns:IWebService_CreateVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVersion">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UpdateVersion" message="tns:IWebService_UpdateVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UpdateVersionResponse" message="tns:IWebService_UpdateVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVersion">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DeleteVersion" message="tns:IWebService_DeleteVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DeleteVersionResponse" message="tns:IWebService_DeleteVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetVersionHidden">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/SetVersionHidden" message="tns:IWebService_SetVersionHidden_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/SetVersionHiddenResponse" message="tns:IWebService_SetVersionHidden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionLastList">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetVersionLastList" message="tns:IWebService_GetVersionLastList_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetVersionLastListResponse" message="tns:IWebService_GetVersionLastList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPackages">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetPackages" message="tns:IWebService_GetPackages_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetPackagesResponse" message="tns:IWebService_GetPackages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompilationList">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetCompilationList" message="tns:IWebService_GetCompilationList_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetCompilationListResponse" message="tns:IWebService_GetCompilationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageFileList">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetImageFileList" message="tns:IWebService_GetImageFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetImageFileListResponse" message="tns:IWebService_GetImageFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSourceFileList">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetSourceFileList" message="tns:IWebService_GetSourceFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetSourceFileListResponse" message="tns:IWebService_GetSourceFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepedencyList">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetDepedencyList" message="tns:IWebService_GetDepedencyList_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetDepedencyListResponse" message="tns:IWebService_GetDepedencyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageFileListByReference">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetImageFileListByReference" message="tns:IWebService_GetImageFileListByReference_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetImageFileListByReferenceResponse" message="tns:IWebService_GetImageFileListByReference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNodeImageFiles">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetNodeImageFiles" message="tns:IWebService_GetNodeImageFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetNodeImageFilesResponse" message="tns:IWebService_GetNodeImageFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanies">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetCompanies" message="tns:IWebService_GetCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetCompaniesResponse" message="tns:IWebService_GetCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCompany">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateCompany" message="tns:IWebService_CreateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateCompanyResponse" message="tns:IWebService_CreateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCompany2">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateCompany2" message="tns:IWebService_CreateCompany2_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateCompany2Response" message="tns:IWebService_CreateCompany2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UpdateCompany" message="tns:IWebService_UpdateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UpdateCompanyResponse" message="tns:IWebService_UpdateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DeleteCompany" message="tns:IWebService_DeleteCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DeleteCompanyResponse" message="tns:IWebService_DeleteCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetUsers" message="tns:IWebService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetUsersResponse" message="tns:IWebService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateUser" message="tns:IWebService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateUserResponse" message="tns:IWebService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UpdateUser" message="tns:IWebService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UpdateUserResponse" message="tns:IWebService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DeleteUser" message="tns:IWebService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DeleteUserResponse" message="tns:IWebService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositories">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetRepositories" message="tns:IWebService_GetRepositories_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetRepositoriesResponse" message="tns:IWebService_GetRepositories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateRepository">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateOrUpdateRepository" message="tns:IWebService_CreateOrUpdateRepository_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateOrUpdateRepositoryResponse" message="tns:IWebService_CreateOrUpdateRepository_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRepository">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateRepository" message="tns:IWebService_CreateRepository_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateRepositoryResponse" message="tns:IWebService_CreateRepository_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRepository">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UpdateRepository" message="tns:IWebService_UpdateRepository_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UpdateRepositoryResponse" message="tns:IWebService_UpdateRepository_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRepository">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DeleteRepository" message="tns:IWebService_DeleteRepository_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/DeleteRepositoryResponse" message="tns:IWebService_DeleteRepository_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlansByType">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetPlansByType" message="tns:IWebService_GetPlansByType_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetPlansByTypeResponse" message="tns:IWebService_GetPlansByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePlan">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/RemovePlan" message="tns:IWebService_RemovePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/RemovePlanResponse" message="tns:IWebService_RemovePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePlan">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreatePlan" message="tns:IWebService_CreatePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreatePlanResponse" message="tns:IWebService_CreatePlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUploadReports">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetUploadReports" message="tns:IWebService_GetUploadReports_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetUploadReportsResponse" message="tns:IWebService_GetUploadReports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadPackage">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UploadPackage" message="tns:IWebService_UploadPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UploadPackageResponse" message="tns:IWebService_UploadPackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPermissions">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetUserPermissions" message="tns:IWebService_GetUserPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetUserPermissionsResponse" message="tns:IWebService_GetUserPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyPermissions">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetCompanyPermissions" message="tns:IWebService_GetCompanyPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetCompanyPermissionsResponse" message="tns:IWebService_GetCompanyPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryPermissions">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetRepositoryPermissions" message="tns:IWebService_GetRepositoryPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetRepositoryPermissionsResponse" message="tns:IWebService_GetRepositoryPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectPermissions">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetProjectPermissions" message="tns:IWebService_GetProjectPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetProjectPermissionsResponse" message="tns:IWebService_GetProjectPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVersionPermissions">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetVersionPermissions" message="tns:IWebService_GetVersionPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetVersionPermissionsResponse" message="tns:IWebService_GetVersionPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCompanyPermissions">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/SetCompanyPermissions" message="tns:IWebService_SetCompanyPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/SetCompanyPermissionsResponse" message="tns:IWebService_SetCompanyPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRepositoryPermissions">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/SetRepositoryPermissions" message="tns:IWebService_SetRepositoryPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/SetRepositoryPermissionsResponse" message="tns:IWebService_SetRepositoryPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetProjectPermissions">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/SetProjectPermissions" message="tns:IWebService_SetProjectPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/SetProjectPermissionsResponse" message="tns:IWebService_SetProjectPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetVersionPermissions">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/SetVersionPermissions" message="tns:IWebService_SetVersionPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/SetVersionPermissionsResponse" message="tns:IWebService_SetVersionPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserValidate">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UserValidate" message="tns:IWebService_UserValidate_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/UserValidateResponse" message="tns:IWebService_UserValidate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserByKey">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateUserByKey" message="tns:IWebService_CreateUserByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/CreateUserByKeyResponse" message="tns:IWebService_CreateUserByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByKey">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetUserByKey" message="tns:IWebService_GetUserByKey_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetUserByKeyResponse" message="tns:IWebService_GetUserByKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPasswordMail">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/SendPasswordMail" message="tns:IWebService_SendPasswordMail_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/SendPasswordMailResponse" message="tns:IWebService_SendPasswordMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/ResetPassword" message="tns:IWebService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/ResetPasswordResponse" message="tns:IWebService_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserKeys">
      <wsdl:input wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetUserKeys" message="tns:IWebService_GetUserKeys_InputMessage" />
      <wsdl:output wsaw:Action="http://api.symbolsource.org/schemas/webServices/IWebService/GetUserKeysResponse" message="tns:IWebService_GetUserKeys_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>